body {
    background-color: #ffcd4b;
    text-align: center;
    color: #000000;
}

#main {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#workspace {
    height: 370px;
}

#footer {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

#help {
    font-family: Arial;
    text-align: center;
    font-size: 14px;
}

#help > h3 {
    font-size: 16px;
}

#help table {
    width: 100%;
}

#help th.first {
    width: 15%;
}

#help th.second {
    width: 45%;
}

#help th.third {
    width: 40%;
}

#panel {
    width: 500px;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}

#error {
    display: none;
    max-width: 200px;
    color: #ffffff;
    background-color: #ee0000;
    margin: 5px;
    padding: 5px;
}

#panel table {
    width: 100%;
}

table {
    background-color: F6A828;
    padding: 0;
    margin: 0;
}

table th,
td {
    padding: 5px;
    margin: 0;
}

table th {
    border: 1px solid #e78f08;
}

table td {
    border: 1px solid #e78f08;
}

td.highlight {
    background-color: #e78f08;
}

.curLine {
    background-color: #ffef6d;
}

.errLine {
    background-color: #ff0000;
}

#memory th,
td {
    min-width: 20px;
    max-width: 20px;
}

#editor {
    display: block;
    text-align: left;
    float: left;
    background-color: #ffffff;
    width: 500px;
    height: 350px;
}

#clear_storage_btn {
    background-color: #ffaaaa;
}

#controls,
#filesystem {
    margin: 5px;
}

#filesystem select {
    min-width: 250px;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

#links img {
    margin: 5px;
}

.dialog-popup {
    color: #000000;
    font-size: 18px;
    font-family: Arial;
    border: 1px solid #e78f08;
    border-radius: 0;
    background-color: #ffc42d;
}

.dialog-popup input {
    font-size: 14px;
    font-family: Arial;
    background-color: #ffffff;
    color: #000000;
}

.dialog-popup .swal2-validation-message {
    background-color: #ffc42d;
    color: #000000;
    font-size: 14px;
    font-family: Arial;
}
